body {
    margin: 0%;
    padding: 0%;
}

#map {
    height: 400px;
    width: 100%;
    background-color: grey;
}

#parkingInfo {
    height: 400px;
    width: 100%;
    background-color: lightblue;
}



.topMargin {
    margin-top: 50px;
}

.counter {
    width: 100%;
    height: 100%;
    border: solid black;
    text-align: center;
    font-family: ;
}

.card-header {
    padding: 0px;
    margin: 0px;
}